.dialogs_item {
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.dialogs_messages {
  padding: 10px;
}
.message {
  padding: 10px;
}
.dialogs_input {
  position: relative;
  grid-column: 1/-1;
  text-align: right;
}

.dialogs_textarea {
  margin-right: 10px;
  width: 780px;
  height: 30px;
  font-size: 20px;
  resize: none;
  padding-top: 10px;
  padding-left: 10px;
}
.dialogs_button {
  position: absolute;
  right: 12px;
  top: 3px;
  background: none;
  border: none;
  transition: background-color 0.3s;
}
.icon {
  width: 20px;
  height: 20px;
  color: #6b6a6a;
  padding: 10px;
  border-radius: 20%;
  transition: background-color ease 0.4s;
  transition: color ease 0.4s;
}
.icon_active {
  background-color: #00fc93;
  color: #ffffff;
  cursor: pointer;
}
