.dialogs_messages {
  background-color: #ccc;
  color: #000;
   /* height: 20vh; */
   overflow: hidden;
   
}

.message {
   padding: 10px;
   display:  grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
  
 }
 
 .user {
 padding: 10px;
 
 }

 .img {
  width: 50px;
  border-radius: 60px;
 }