.app-wrapper {
  display: grid;
  grid-template-areas: /*сколтко место всё это заимёт в даный случий хедаер занимает 2 с верху а нав и контет по 1 по вертикали    */
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}


/* CONTENT */
