.app-wrapper {
  display: grid;
  grid-template-areas: /*сколтко место всё это заимёт в даный случий хедаер занимает 2 с верху а нав и контет по 1 по вертикали    */
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}
/* HEADER */
.header {
  grid-area: header;
  background-color: rgb(21, 22, 37);
}

.header .fa-eye {
  color: #F8F9D6;
}

/* NAV */
.nav {
  grid-area: nav;
  background-color: rgb(21, 22, 37);
}
.nav div a {
  color: #ff5e00;
}

/* CONTENT */
.content {
  grid-area: content;
  background-color: rgb(21, 22, 37);
  color: #ff5e00;
}

.content-background {
  width: 1200px;
  height: 300px;
}

.content-profile-img {
  width: 300px;
}
